/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}


/*
 * Custom Styling
 */

body {
  background: #FEF6E8;
}

form#main, form#main *, img#logo, div#shortenedUrl, div#error {
  display: block;
}

form#main {
  flaot: left;
  width: 600px;
  margin: 50px auto;
}

form#main * {
  margin: 10px auto;
}

img#logo {
  margin: 50px auto;
}

input.urlfield {
  width: 580px;
  height: 30px;
  border: none;
  background: #FFF;
  padding: 5px 10px;
  font-size: 20px;
  color: #333;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

button#shorten {
  width: 600px;
  height: 40px;
  font-size: 18px;
  background: #F60;
  color: #EEE;
  border: 0;
  border-right-style: solid;
  border-bottom-style: solid;
  border-right-width: 4px;
  border-bottom-width: 4px;
  border-color: #D45500;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

button#shorten:hover{
  background: #F82;
}

button#shorten:active{
  border: 0;
  border-left-style: solid;
  border-top-style: solid;
  border-left-width: 4px;
  border-top-width: 4px;
  border-color: #FEF6E8;
}

div#shortenedUrl, div#error {
  width: 100%;
  height: 200px;
  padding: 10px 0;
  clear: both;
  text-align: center;
  z-index: 9999;
  position: absolute;
  bottom: 0;
  left: 0;
  border-top-width: 5px;
  border-top-style: solid;
}

div#shortenedUrl {
  background: #9C0;
  border-top-color: #5A0;
  color: #333;
}

div#shortenedUrl a {
  color: #000;
}

div#error a {
  color: #FFF;
}

div#shortenedUrl a, div#error a {
  text-decoration: none;
  font-weight: bold;
}

div#error {
  background: #609;
  border-top-color: #306;
  color: #EEE;
}
